# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Flask instance folder
instance/

# Vercel-related files
.vercel/

# IDE/editor-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Database files
*.sqlite3
*.db

# Miscellaneous
*.bak
*.swp
